@font-size-large: 12px;
@font-size-base: 10px;
@font-size-small: 8px;
@font-size-extra-small: 8px;
@table-body-content-padding-vertical: 0px;
@table-body-content-padding-horizontal: 0px;
@table-header-padding-x: 10px;

.detail-row {
  height: 100%;
}

.rs-table-header-row-wrapper {
  font-size: @font-size-base;
}

body.visual-sandbox {
  font-size: @font-size-base;
}

.rs-table-row-expanded {
  padding: 0px;
}

.detail-table {
  font-size: @font-size-base;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 100px;
  width: calc(100vw - 100px);
  th {
    text-align: left;
    font-weight: 600;
  }
}

.detail-table-wrapper {
  background-color: #f2f9ff;
  padding: 3px;
}
